.page {
  height: 250vh;
  background-color: #03001c;
}
.PageGrid {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.leftMenu {
  background-color: #0f3d3e;
  height: 90vh;
  position: fixed;
  width: 15vw;
  margin-top: 10vh;
  color: #b6eada;
}
.navbar {
  font-weight: 700;
}
.titles {
  color: #03001c !important;
  transition-duration: 0.3s !important;
  cursor: pointer !important;
}
.titles:hover {
  color: #b6eada !important;
}
.qqq {
  z-index: 1000;
}

.navHome {
  height: 10vh;
  color: #b6eada;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 1.6em;
  font-weight: 600;
  transition-duration: 0.3s;
  margin-top: 2vh;
  border-radius: 1em;
  cursor: pointer;
}
.navHome:hover {
  background-color: #b6eada;
  color: #0f3d3e;
}

.navRoomTitle {
  margin-top: 2vh;
  margin-bottom: 5vh;
  font-size: 1.5em;
  font-weight: 600;
}

.navActive {
  font-size: 1.4em;
  font-weight: 800;
  cursor: pointer;
  height: 10vh;
  padding-top: 3vh;
  border-radius: 1em;
  transition-duration: 0.3s;
}
.navActive:hover {
  background-color: #b6eada;
  color: #0f3d3e;
}
.events {
  margin-top: 10vh;
  margin-left: 15vw;
}
.pageTitle {
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  color: #b6eada;
  margin-top: 3vh;
  margin-left: 3vw;
}
.pageFilter {
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
  color: #b6eada;
  margin-top: 3vh;
  margin-left: 3vw;
}
.filter {
  font-size: 1.3em;
  font-weight: 700;
  color: #b6eada;
}
.filterBox {
  padding: auto;
  width: 48vw;
  margin-top: 2vh;
  margin-left: 0.5vw;
}
.filterSelect {
  width: 20vw !important;
  background-color: #03001c !important;
  color: #b6eada !important;
  display: inline !important;
  font-size: 1.2em !important;
  font-weight: 600 !important;
}
.selectTitle {
  display: inline;
  font-size: 1.2em;
  font-weight: 600;
  color: #b6eada;
}

.allEvents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 78vw;
  margin: 0 auto;
  margin-left: 3vw;
  margin-top: 5vh;
  grid-gap: 3vw;
}
.everyEvent {
  height: 30vh;
  border: 2px solid white;
  border-radius: 1em;
  color: #b6eada;
  font-size: 2em;
  padding-top: 12vh;
}
.navHomeIcon {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
